*{
    text-align: center;
    border: 5px solid salmon;
}

#inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#library{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

button{
    background-color: aquamarine;
    padding: 5px;
    border-color: beige;
    border-radius: 25px;
    margin-bottom: 10px;
}